@model EMY.Papel.Restaurant.Core.Domain.Entities.MenuCategory

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control bg-dark text-light" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
    </ hr>
<div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <textarea asp-for="Description" class="form-control bg-dark text-light"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>