@using EMY.Papel.Restaurant.Core.Application.Repositories.MenuCategoryRepositories
@using EMY.Papel.Restaurant.Infrastructure.Persistence.Repositories.MenuCategoryRepositories
@using Microsoft.EntityFrameworkCore
@inject IMenuCategoryReadRepository _menuCategoryReadRepository;

@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_ThemeFooresRestaurant.cshtml";
    var Categories = _menuCategoryReadRepository.Table.Include(o => o.Menus).Where(o => !o.IsDeleted && o.Menus.Count > 0).ToList();
    int counter = 0;
}

<link href="/css/categories.css" rel="stylesheet">

<div class="hero_single inner_pages background-image" data-background="url(/Themes/FooresRestaurant/img/hero_menu.jpg)" style="background-image: url(&quot;/Themes/FooresRestaurant/img/hero_menu.jpg&quot;);">
    <div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-9 col-lg-10 col-md-8">
                    <h1>Categories</h1>
                </div>
            </div>
            <!-- /row -->
        </div>
    </div>
    <div class="frame white"></div>
</div>
<!-- /hero_single -->

<section id="specials-grid" class="month-specials" data-scroll-reveal="enter from the bottom after 0.9s">
    <div class="container">
        <div class="specials-content">

            <a href="///www.google.com" class="special">
                <div class="special-items spec-01">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-01">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-02">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-02">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-03">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-03">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-04">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-04">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-05">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-05">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-06">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-06">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

           
            <a href="///www.google.com" class="special">
                <div class="special-items spec-01">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-01">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-02">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-02">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-03">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-03">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-04">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-04">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-05">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-05">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-06">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-06">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->
            <a href="///www.google.com" class="special">
                <div class="special-items spec-01">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-01">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-02">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-02">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-03">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-03">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-04">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-04">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-05">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-05">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-06">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-06">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->
            <a href="///www.google.com" class="special">
                <div class="special-items spec-01">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-01">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-02">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-02">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-03">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-03">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-04">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-04">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-05">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-05">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-06">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-06">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->
            <a href="///www.google.com" class="special">
                <div class="special-items spec-01">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-01">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-02">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-02">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-03">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-03">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-04">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-04">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-05">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-05">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-06">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-06">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->
            <a href="///www.google.com" class="special">
                <div class="special-items spec-01">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-01">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-02">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-02">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-03">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-03">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-04">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-04">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-05">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-05">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-06">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-06">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->
            <a href="///www.google.com" class="special">
                <div class="special-items spec-01">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-01">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-02">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-02">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-03">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-03">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-04">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-04">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-05">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-05">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

            <a href="///www.google.com" class="special">
                <div class="special-items spec-06">
                    <h2 class="scroll-reveal" data-origin="top" data-distance="20%">Yarrow sweet</h2>
                    <span class="line scroll-reveal" data-origin="top" data-distance="20%"></span>
                    <p class="scroll-reveal" data-origin="bottom" data-distance="30%">Gumbo kakadu plum komatsuna black-eyed pea green</p>
                    <span class="scroll-reveal" data-origin="bottom" data-distance="60%">8$</span>
                </div>
                <div class="special-img img-06">
                    <img src="assets/img/special-1.png" />
                </div>
            </a>
            <!--.special-->

        </div>
        <!--.specials-content-->
    </div>

</section>